<h1>Welcome to TheTable</h1>

<p>
  Thank you for choosing TheTable for making your reservations in the best clubs.
</p>
<%= link_to "Choose one of our many clubs for your first reservation" , clubs_url  %>
