<h2>Welcome to TheTable</h2>

<p>
  Thank you for choosing TheTable for making your reservations in the best clubs.
</p>
<p> <%= link_to "Choose one of our many clubs for your first reservation" , clubs_url  %> </p>
