<p> Hello, <%= @owner.full_name %>. </p>
<br>
<p> This is to notify you of a successfull payment for your reservation in <%= @club_name %> on the <%= @reservation.date %>. </p>
<p> You were charged <%= @bill.amount %>. </p>
