<p> Dear, <%= @reservation.reservation_owner.full_name %> unfortunately, we have had to cancel your reservation in <%= @club_name %>. This is most likely because you failed to collect the money for the kaparo in time. </p>
<br>
<br>
<p> We thank you for using TheTable, and hope to see you make a reservation with us again soon. </p>
